body {
    font-family: "Source Code Pro", monospace
}
.u-clearfix,
.Pokedex:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden
}
.Btn {
    border: 1px solid #000;
    /*-webkit-box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5);
    box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5);*/
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}
.Btn:active {
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9)
}
.Btn.is-animated {
    -o-animation: .3s isAnimated infinite;
    -ms-animation: .3s isAnimated infinite;
    -moz-animation: .3s isAnimated infinite;
    -webkit-animation: .3s isAnimated infinite;
    animation: .3s isAnimated infinite
}
.Btn.is-animated-red {
    -o-animation: .4s isAnimatedr infinite;
    -ms-animation: .4s isAnimatedr infinite;
    -moz-animation: .4s isAnimatedr infinite;
    -webkit-animation: .4s isAnimatedr infinite;
    animation: .4s isAnimatedr infinite
}
.Btn.is-animated-yellow {
    -o-animation: .5s isAnimatedy infinite;
    -ms-animation: .5s isAnimatedy infinite;
    -moz-animation: .5s isAnimatedy infinite;
    -webkit-animation: .5s isAnimatedy infinite;
    animation: .5s isAnimatedy infinite
}
.Btn.is-animated-green {
    -o-animation: .6s isAnimatedg infinite;
    -ms-animation: .6s isAnimatedg infinite;
    -moz-animation: .6s isAnimatedg infinite;
    -webkit-animation: .6s isAnimatedg infinite;
    animation: .6s isAnimatedg infinite
}
.Btn--red {
    background: #f00
}
.Btn--blue {
    background: #509bfb
}
.Btn--yellow {
    background: #fc0
}
.Btn--green {
    background: #30fa04
}
.Btn--gray {
    background: #696969
}
.Btn--coral {
    background: #05fbfb
}
.Btn--orange {
    background: #ffa500
}
.Btn--white {
    background: #ffffff
}
.Btn--gold {
    background: #FFDF00
}
.Btn--small {
    width: 20px;
    height: 20px
}
.Btn--large {
    width: 70px;
    height: 20px
}
.Btn--mini {
    width: 70px;
    height: 5px
}
.Btn--medium {
    width: 35px;
    height: 35px
}
.Btn--big {
    width: 50px;
    height: 50px
}
.Btn--rounded {
    -webkit-border-radius: 50%;
    border-radius: 50%
}
.Btn--round {
    -webkit-border-radius: 10px;
    border-radius: 10px
}
.Btn--square {
   border: 1px;
   background-color: #696969;
   height:30px;
   width:70px;
   cursor:pointer;
}
@-moz-keyframes isAnimated {
    0% {
        background: #fff
    }
    50% {
        background: #05fbfb
    }
    100% {
        background: #fff
    }
}
@-webkit-keyframes isAnimated {
    0% {
        background: #fff
    }
    50% {
        background: #05fbfb
    }
    100% {
        background: #fff
    }
}
@-o-keyframes isAnimated {
    0% {
        background: #fff
    }
    50% {
        background: #05fbfb
    }
    100% {
        background: #fff
    }
}
@keyframes isAnimated {
    0% {
        background: #fff
    }
    50% {
        background: #05fbfb
    }
    100% {
        background: #fff
    }
}
/*-----------------------------------------------------------------------------*/
@-moz-keyframes isAnimatedr {
    0% {
        background: #fff
    }
    50% {
        background: #f00
    }
    100% {
        background: #fff
    }
}
@-webkit-keyframes isAnimatedr {
    0% {
        background: #fff
    }
    50% {
        background: #f00
    }
    100% {
        background: #fff
    }
}
@-o-keyframes isAnimatedr {
    0% {
        background: #fff
    }
    50% {
        background: #f00
    }
    100% {
        background: #fff
    }
}
@keyframes isAnimatedr {
    0% {
        background: #fff
    }
    50% {
        background: #f00
    }
    100% {
        background: #fff
    }
}
/*-------------------------------------------------------------------------------------------*/
@-moz-keyframes isAnimatedy {
    0% {
        background: #fff
    }
    50% {
        background: #fc0
    }
    100% {
        background: #fff
    }
}
@-webkit-keyframes isAnimatedy {
    0% {
        background: #fff
    }
    50% {
        background: #fc0
    }
    100% {
        background: #fff
    }
}
@-o-keyframes isAnimatedy {
    0% {
        background: #fff
    }
    50% {
        background: #fc0
    }
    100% {
        background: #fff
    }
}
@keyframes isAnimatedy {
    0% {
        background: #fff
    }
    50% {
        background: #fc0
    }
    100% {
        background: #fff
    }
}
/*--------------------------------------------------------------------------------------*/
@-moz-keyframes isAnimatedg {
    0% {
        background: #fff
    }
    50% {
        background: #7FFF00
    }
    100% {
        background: #fff
    }
}
@-webkit-keyframes isAnimatedg {
    0% {
        background: #fff
    }
    50% {
        background: #7FFF00
    }
    100% {
        background: #fff
    }
}
@-o-keyframes isAnimatedg {
    0% {
        background: #fff
    }
    50% {
        background: #7FFF00
    }
    100% {
        background: #fff
    }
}
@keyframes isAnimatedg {
    0% {
        background: #fff
    }
    50% {
        background: #7FFF00
    }
    100% {
        background: #fff
    }
}
.Pokedex {
    margin: 100px auto 0;
    -ms-perspective: 1000px;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
    position: relative;
    position: relative;
    0: 0;
    width: 400px;
    background: #dd092f;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
/*.Pokedex:hover .Pokedex-rightFrontface,
.Pokedex.is-active .Pokedex-rightFrontface {
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}
.Pokedex:hover .Pokedex-rightBackface,
.Pokedex.is-active .Pokedex-rightBackface {
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}*/

.Pokedex-rightBackface.rotate-open {
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.Pokedex-rightFrontface.rotate-close {
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}
.Pokedex-window {
    margin: 20px;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background: #b0b0b0;
    padding: 15px;
    border: 1px solid #000
}
.Pokedex-sprite {
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    border: 2px solid #000;
    background-size: 160px 160px;
}

.Pokedex-sprite.is-fullSize {
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%
}
/*.Pokedex-search {
    margin: 20px 0;
}*/
.Pokedex-search {
    background: lightgreen;
    border: none;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-size: 40px;
    outline: 0;
    padding: 10px;
    margin: 50px 50px;
    width: 100px;
    height: 50px;
}
.Pokedex-search input:focus {
    border: 1px solid #000
}
.Pokedex-search input::-webkit-input-placeholder {
    color: #fff
}
.Pokedex-input {
    background: #696969;
    margin: 20px;
    /*padding: 20px;*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #000;
        height: 65px;
    width: 255px;
    margin-left: 50px;
    color: white;
    font-size: large;
}
.Pokedex-description1 {
    background: #696969;
    width : 30px;
    height : 25px;
}
.Pokedex-left {
    background: -o-linear-gradient(top, #dd092f 80%, rgba(0, 0, 0, 0.2));
    background: -ms-linear-gradient(top, #dd092f 80%, rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(top, #dd092f 80%, rgba(0, 0, 0, 0.2));
    background: -webkit-linear-gradient(top, #dd092f 80%, rgba(0, 0, 0, 0.2));
    background: linear-gradient(to bottom, #dd092f 80%, rgba(0, 0, 0, 0.2));
    border: 1px solid #000;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    border-right: 10px solid #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 500px;
    width: 400px
}
.Pokedex-leftTop {
    padding: 10px 20px
}
.Pokedex-leftBottom {
    padding: 10px 20px
}
.Pokedex-rightFrontface {
    position: absolute;
    bottom: 0;
    left: 100%;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #dd092f;
    border: 1px solid #000;
    border-left: 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    height: 400px;
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    -moz-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -o-transition: 1s -o-transform;
    -ms-transition: 1s -ms-transform;
    -moz-transition: 1s -moz-transform;
    -webkit-transition: 1s -webkit-transform;
    transition: 1s transform;
    width: 400px
}
.Pokedex-rightFrontfaceTop:before {
    border-bottom: 0 solid transparent;
    border-left: 80px solid transparent;
    border-right: 60px solid transparent;
    border-top: 80px solid transparent;
    content: "";
    display: inline-block;
    border-left-color: #dd092f;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-left: 200px
}
.Pokedex-rightFrontfaceTop:after {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #dd092f;
    border-top: 1px solid #000;
    content: "";
    height: 80px;
    width: 200px
}
.Pokedex-rightFrontfaceBottom {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 0;
    margin: 0 50px
}
.Pokedex-rightBackface {
    position: absolute;
    bottom: 0;
    left: 0;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #dd092f;
    border: 1px solid #000;
    /*border-left: 8px solid rgba(0, 0, 0, 0.3);*/
    -webkit-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    height: 400px;
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    -moz-transform-origin: right top;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -o-transition: 1s -o-transform;
    -ms-transition: 1s -ms-transform;
    -moz-transition: 1s -moz-transform;
    -webkit-transition: 1s -webkit-transform;
    transition: 1s transform;
    width: 400px;
}
/*.Pokedex-rightBackface:after {
   border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid transparent;
    content: "";
    display: inline-block;
    border-left-color: #fc0;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin: 0 auto;
    margin-top: -25px
}*/
.open-button {
   border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid transparent;
    content: "";
    display: inline-block;
    border-left-color: #fc0;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
    margin-top: -25px
}
.Pokedex-rightBackfaceTop {
    position: absolute;
    right: 0;
    bottom: 100%;
    background: #dd092f;
    border-top: 1px solid #000;
    content: "";
    height: 80px;
    width: 200px;
}
.Pokedex-rightBackfaceTop:before {
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 60px solid transparent;
    border-top: 80px solid transparent;
    content: "";
    display: inline-block;
    border-right-color: #dd092f;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px
}
.Pokedex-rightBackfaceTop:after {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    content: "";
    height: 100px;
    -o-transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    -moz-transform: rotate(37deg);
    -webkit-transform: rotate(37deg);
    transform: rotate(37deg);
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    -moz-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    width: .5px
}
arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid #FFFF00;
}

.plus {
    float: right;
    margin: -200px -20px;
}
*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}